.div_card-color_container{
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    .div_color-img{
        width: 150px;
        height: 150px;
        margin: 10px 0 25px 0;
        img{
            width: 100%;
            transition: 0.2s ease-in-out;
        }
        img:hover{
            transform: scale(1.3);
        }
    }
    .div_color-title{
        width: 100%;
        display: flex;

        p{
            font-size: 17px;
            font-weight: 400;
            margin-left: 10px;
            font-family: "Noto Serif", serif;
        }
    }
}

@media (max-width: 1000px) {
    .div_card-color_container{
        width: 127px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e9ecef;
        .div_color-img{
            width: 112px;
            height: 112px;
            margin: 7px 0 18px 0;
        }
        .div_color-title{
            width: 100%;
            display: flex;
    
            p{
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 740px) {
    .div_card-color_container{
        width: 106px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e9ecef;
        .div_color-img{
            width: 93px;
            height: 93px;
            margin: 6px 0 15px 0;
        }
        .div_color-title{
            width: 100%;
            display: flex;
    
            p{
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 605px) {
    .div_card-color_container{
        width: 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e9ecef;
        .div_color-img{
            width: 75px;
            height: 75px;
            margin: 5px 0 12px 0;
        }
        .div_color-title{
            width: 100%;
            display: flex;
    
            p{
                font-size: 8px;
            }
        }
    }
}
