.div_carousel_container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 500px;
   margin: 35px 0 35px 0;
   .div_colores{
      display: flex;
      justify-content: center;
      gap: 30px;
   }
}
.carousel{
   background-color: currentColor;
}